[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Kernel 3.18.140 for Fire HD 8 2018 (Karnak)
[access "refs/*"]
	owner = group userid/kjones (488315)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group userid/kjones (488315)
	label-Verified = -1..+1 group userid/kjones (488315)
	push = group userid/kjones (488315)
	read = group userid/kjones (488315)
	rebase = group userid/kjones (488315)
	removeReviewer = group userid/kjones (488315)
	submit = group userid/kjones (488315)
[access "refs/heads/*"]
	create = group userid/kjones (488315)
	push = +force group userid/kjones (488315)
	pushMerge = group userid/kjones (488315)
	read = group userid/kjones (488315)
[access "refs/tags/*"]
	push = group userid/kjones (488315)
	push = +force group userid/kjones (488315)
