#
# Touchscreen driver configuration
#
config TOUCHSCREEN_MTK_FOCALTECH_TS
    bool "Focaltech Ts for Mediatek"
    depends on I2C
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.

config TOUCHSCREEN_MTK_FTS_DIRECTORY
    string "Focaltech ts directory name"
    default "focaltech_touch"
    depends on TOUCHSCREEN_MTK_FOCALTECH_TS

config TOUCHSCREEN_MTK_VDD_SUSPEND
	bool "Focaltech suspend by VDD"
	default n
	depends on TOUCHSCREEN_MTK_FOCALTECH_TS
	help
		Say Y here if driver suspend by VDD low.
		If unsure, say N.
