menu "Amazon"

config AMAZON
	bool "Amazon Drivers"
	default N
	---help---
	  Enable support for various drivers needed on the Amazon Fire OS platform

if AMAZON

config AMAZON_KLOG_CONSOLE
	bool "Amazon Kernel Log Console"
	depends on ANDROID_LOGGER
	default N
	---help---
	  provide the kernel log console which will rewrite the kernel message to Android Logger buffer.

config AMAZON_KLOG_CONSOLE_DEBUG
	bool "Amazon Kernel Log Console debug"
	depends on AMAZON_KLOG_CONSOLE
	default n
	---help---
	  provide amazon kernel log debug info, such as delayed log count, total log counts.

config AMAZON_LOGD
    bool "Amazon Logd"
    depends on ANDROID_LOGGER
    default N
    ---help---
      device uses logd for logging

config AMAZON_SIGN_OF_LIFE
	bool "Amazon Sign of Life"
	help
	enable the life cycle metrics to log device boot and shutdown information

config AMAZON_SIGN_OF_LIFE_MTK
	bool "Amazon Sign of Life MTK platform implementation"
	help
	enable the life cycle metrics to log device boot and shutdown information on MTK Platform

config AMAZON_SIGN_OF_LIFE
	bool "Amazon Sign of Life"
	help
	enable the life cycle metrics to log device boot and shutdown information

config AMAZON_SIGN_OF_LIFE_MTK
	bool "Amazon Sign of Life MTK platform implementation"
	help
	enable the life cycle metrics to log device boot and shutdown information on MTK Platform

config AMAZON_POWEROFF_LOG
	bool "Long press key power off log"
	default N
	help
	enable Long press key power off log

config abh123
	bool "abh123 MTK platform project"
	help
	isolate amazon abh123 changes for MTK Platform

config rbc123
	bool "rbc123 MTK platform project"
	help
	isolate amazon rbc123 changes for MTK Platform

config abc123
	bool "abc123 MTK platform project"
	help
	isolate Amazon abc123 changes for MTK Platform

config AMAZON_METRICS_LOG
	bool "Amazon Metrics logger driver"
	select RING_BUFFER
	default n
	---help---
		Enable Amazon Metrics/Vitals logger driver

config AMAZON_METRICS_LOG_TEST
	tristate "Amazon Metrics logger driver test module"
	depends on AMAZON_METRICS_LOG
	default n
	---help---
		Enable Amazon Metrics/Vitals logger test module

config AMAZON_INTEGRITY_MODULE
	tristate "Amazon Integrity Module"
	depends on AMAZON_METRICS_LOG
	default n
	---help---
	  Say Y here if you want to enable Amazon Integrity Module

endif # if AMAZON

endmenu
