menu "Amazon"

config AMAZON
	bool "Amazon Drivers"
	default N
	---help---
	  Enable support for various drivers needed on the Amazon Fire OS platform

if AMAZON
config BISCUIT
	bool "Biscuit MTK platform project"
	help
	isolate amazon biscuit changes for MTK Platform

config rbc123
	bool "rbc123 MTK platform project"
	help
	isolate amazon rbc123 changes for MTK Platform

config abc123
	bool "abc123 MTK platform project"
	help
	isolate Amazon abc123 changes for MTK Platform

endif # if AMAZON

endmenu
