config MTK_THERMAL_PA_VIA_ATCMD
	bool "Thermal switch for query modem RF temp"
	help
	  Internal switch for thermal management
	  to query modem RF temperature
	  via AT command.
	  (RIL sockets)

config CLATM_CHOOSE_HIGHER_TARGET_TJ
	bool "adaptive cooler will choose the one who has higher target Tj"
	help
	  Change ATM decide TTj logic.
	  It will choose the adaptive cooler with higher Target Tj
	  and use the higher trip point as target Tj
	  when more than one adaptive active.
	default n

config VS_BACKLIGHT_COOLER
	bool "Virtual Sensor backlight cooler"
	default n

config THERMAL_abc123
	bool "THERMAL_abc123"
	default n
	help
	  For abc123 specific configurations for thermal related.

config THERMAL_abc123
	bool "THERMAL_abc123"
	default n
	help
	  For abc123 specific configurations for thermal related.

config VS_BCCT_COOLER
	bool "Virtual Sensor battery current cooler"
	default n

config THERMAL_abc123
	bool "THERMAL_abc123"
	default n
	help
	  For abc123 specific configurations for thermal related.

config THERMAL_KARNAK
	bool "THERMAL_KARNAK"
	default n
	help
	  For KARNAK specific configurations for thermal related.

source "drivers/misc/mediatek/thermal/tmp103/Kconfig"
